/*_---------Home----------_*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif;
    list-style: none;
    text-decoration: none;
}
header{
    position: fixed;
    right:0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}
body{
    background: red;
}
*
{
    .header-text-Home{
        margin-top: 1%;
        font-size: 30px;
    }
}


.header-text h1{
    font-size: 70px;
    margin-top: 30px;
}
body{
    background: #000000;
    color: #ffffff;
}
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    background-image: url("?");
    background-size: cover;
    background-position: center;


    font-family: sans-serif;
}
.menu-bar
{
    background: rgb(0, 22, 255);
    text-align: center;
}
.menu-bar ul
{
    display: inline-flex;
    list-style: none;
    color: #ffffff;
}
.menu-bar ul li
{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a
{
    text-decoration: none;
    color: #ffffff;
}
.active, .menu-bar ul li:hover
{
    background: black;
    border-radius: 3px;
}
.menu-bar .fa
{
    margin-right: 8px;
}


.sub-menu-1
{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1
{
    display: block;
    position: absolute;
    background: rgb(255, 255, 255);
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul
{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li
{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
    color: #ffffff;
}
.fa-angle-right
{
    float: right;
}

/*_-----------------Resume---------------------_*/

/*------------------Vocation-------------------*/
/*-------------------My Work-------------------*/
/*-------------------My Favorite Game's-------------------*/
/*-------------------My Favorite Anime's-------------------*/
/*-------------------My Favorite show' & Movie-------------------*/
/*-------------------About Me------------------------*/


























































